[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A basic internet application using PHP on top of the database which consist of a simple Java application to connect to a MySQL database and modify it.
[access "refs/*"]
	owner = group user/Burak Korkmaz (burakkorki)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Burak Korkmaz (burakkorki)
	label-Verified = -1..+1 group user/Burak Korkmaz (burakkorki)
	push = group user/Burak Korkmaz (burakkorki)
	read = group user/Burak Korkmaz (burakkorki)
	rebase = group user/Burak Korkmaz (burakkorki)
	removeReviewer = group user/Burak Korkmaz (burakkorki)
	submit = group user/Burak Korkmaz (burakkorki)
[access "refs/heads/*"]
	create = group user/Burak Korkmaz (burakkorki)
	push = +force group user/Burak Korkmaz (burakkorki)
	pushMerge = group user/Burak Korkmaz (burakkorki)
	read = group user/Burak Korkmaz (burakkorki)
[access "refs/tags/*"]
	push = group user/Burak Korkmaz (burakkorki)
	push = +force group user/Burak Korkmaz (burakkorki)
